# Image formats
*.png

# Data formats
*.nii
*.nii.gz

# Log & temp files
*.log
*.tmp
*.bak
*.swp
*.sh
*.json
*.zip
*.tar.gz
*.csv
*.txt
*.tsv

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/

# System
.DS_Store
Thumbs.db

# DL outputs
*.h5
*.pth
*.ckpt
*.local

# Specific log/output folders
logs/
job_run/
lightning_logs/
checkpoints/
wandb/

# Prevent heavy file from lightning logs
**/lightning_logs/**/hparams.yaml
