# Ignore PNG images
*.png

# Ignore logs, temp, and shell scripts
*.log
*.tmp
*.bak
*.swp
*.sh
*.json
*.zip
*.tar.gz
*.nii
*.nii.gz

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore VS Code settings
.vscode/

# Ignore system files (macOS & Windows)
.DS_Store
Thumbs.db

# Ignore custom folders (adjust as needed)
job_run/
logs/

# Model checkpoints (deep learning)
*.h5
*.pth
*.ckpt

# Data exports
*.csv
*.tsv
